/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Segoe UI";
  background-color: #f3f3f3;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
  height: 60px;
}
.header .logo {
  display: flex;
  flex-direction: row;
  margin-left: 120px;
}
.header .logo img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.header .logo .title {
  color: #666;
  font-size: 12px;
  font-weight: 700;
}
.header .function-control {
  display: flex;
  margin-right: 200px;
  width: 400px;
}
.header .function-control li {
  list-style-type: none;
  color: #2F85FA;
  flex: 1;
}
.header .function-control li p {
  margin: 0;
}
.header .function-control li p a {
  text-decoration: none;
  color: #2F85FA;
  font-weight: 600;
}
.header .function-control #language-options {
  flex: 2;
}

.container {
  width: 80%;
  margin: 0 auto;
  color: #666;
}
.container .content {
  display: flex;
}
.container .content .left-content {
  flex: 1;
  border-right: 1px solid #d1d1d1;
}
.container .content .left-content .title {
  font-size: 24px;
  font-weight: 600;
  color: #2F85FA;
  margin-bottom: 40px;
  margin-top: 44px;
}
.container .content .left-content ul {
  list-style-type: none;
  text-transform: capitalize;
  padding-left: 0;
}
.container .content .left-content ul li {
  line-height: 2;
}
.container .content .left-content ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
.container .content .right-content {
  flex: 5;
  margin-left: 50px;
  margin-top: 40px;
}
.container .content .right-content .title {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid #d1d1d1;
}
.container .content .right-content .search-bar {
  display: flex;
  height: 36px;
  font-size: 14px;
}
.container .content .right-content .search-bar input {
  border: 2px solid #ddd;
  width: 32%;
  margin-right: 20px;
  padding: 8px 12px;
  border-radius: 5px;
}
.container .content .right-content .search-bar .project-status {
  width: 17%;
  margin-right: 45px;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding-left: 12px;
  color: #666;
}
.container .content .right-content .search-bar .search-button {
  width: 15%;
  margin: 0;
}
.container .content .right-content .search-bar .search-button a {
  display: block;
  line-height: 36px;
  text-decoration: none;
  background-image: linear-gradient(rgb(91, 129, 255), rgb(41, 26, 252));
  color: #fff;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
}
.container .content .right-content .search-bar .reset-button {
  width: 8%;
  margin: 0;
  margin-left: 60px;
}
.container .content .right-content .search-bar .reset-button a {
  display: block;
  line-height: 36px;
  text-decoration: none;
  color: #2F85FA;
  font-weight: 500;
}
.container .content .right-content table {
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}
.container .content .right-content table th,
.container .content .right-content table td {
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
}
.container .content .right-content table thead th {
  color: #777;
  font-weight: 500;
  height: 32px;
}
.container .content .right-content table tbody tr td:first-child {
  width: 3%;
}
.container .content .right-content table tbody tr td:nth-child(2) {
  width: 9%;
  text-align: right;
}
.container .content .right-content table tbody tr td:nth-child(3) {
  width: 32%;
}
.container .content .right-content table tbody tr td:nth-child(4) {
  width: 11%;
}
.container .content .right-content table tbody tr td:nth-child(5) {
  width: 22%;
}
.container .content .right-content table tbody tr td:nth-child(6) {
  width: 10%;
}
.container .content .right-content table tbody tr td:last-child {
  display: flex;
  justify-content: space-around;
}
.container .content .right-content table tbody td {
  font-weight: 700;
  padding: 10px;
}
.container .content .right-content table tbody td img {
  width: 20px;
  height: 20px;
}