@import 'variables';
@import 'reset';
@import 'header';

//general
.delete-icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 6%;
    padding-top: 65px;

    color: $text-color;

    .content {
        display: flex;

        .left-content {
            flex: 1;
            border-right: 1px solid $border-color;

            .title {
                font-size: 20px;
                font-weight: 600;
                color: $primary-text-color;
                margin-bottom: 40px;
                margin-top: 44px;
            }

            ul li:first-child .new-page {
                color: $primary-text-color;
                font-size: 20px;
            }

            ul {
                list-style-type: none;
                text-transform: capitalize;
                padding-left: 0;

                li {
                    line-height: 2;

                    a {
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
        }

        .right-content {
            flex: 7;
            margin-left: 50px;
            margin-top: 40px;

            .title {
                font-weight: 600;
                font-size: 18px;
                padding-bottom: 16px;
                margin-bottom: 24px;
                border-bottom: 1px solid $border-color;
            }

            .search-bar {
                display: flex;

                #searchfield {
                    border: 2px solid #ddd;
                    width: 32%;
                    margin-right: 20px;
                    padding: 8px 12px;
                    border-radius: $border-radius;
                    background-color: #fff;
                }

                .project-status {
                    width: 17%;
                    margin-right: 45px;
                    border: 2px solid #ddd;
                    border-radius: $border-radius;
                    padding-left: 12px;
                    color: $text-color;
                    background-color: #fff;
                }

                .project-status option {
                    background-color: #fff;
                }

                .search-button {
                    width: 15%;
                    margin: 0;

                    a {
                        display: block;
                        line-height: 36px;
                        text-decoration: none;
                        background-image: linear-gradient(rgb(91, 129, 255), rgb(41, 26, 252));
                        color: #fff;
                        text-align: center;
                        border-radius: $border-radius;
                        font-weight: 600;
                    }
                }

                .reset-button {
                    width: 8%;
                    margin: 0;
                    margin-left: 60px;

                    a {
                        display: block;
                        line-height: 36px;
                        text-decoration: none;
                        color: $primary-text-color;
                        font-weight: 500;
                    }
                }
            }

            #myTable_wrapper {
                .dt-layout-full {
                    width: 100%;

                    #selection-status {
                        display: flex;
                        justify-content: space-between;
                        font-weight: 600;
                        background-color: #eaeaff;
                        padding: 4px 16px;
                        border: 1px solid $border-color;

                        #count-text {
                            color: $primary-text-color;
                            font-size: 20px;
                            background-color: #eaeaff;
                        }

                        #delete-text {
                            display: flex;
                            align-items: center;
                            color: #d96542;
                            background-color: #eaeaff;
                            font-size: 17px;

                            .delete-icon {
                                margin-left: 6px;
                                margin-right: 13px;
                            }
                        }
                    }
                }

                #myTable {
                    margin-top: 50px;
                    width: 100%;
                    border-collapse: collapse;
                    font-size: 14px;

                    th,
                    td {
                        border: 1px solid $border-color;
                        box-sizing: border-box;
                        background-color: #fff;
                    }

                    thead th:first-child {
                        padding: 10px;
                    }

                    thead {
                        th {
                            color: #777;
                            font-weight: 500;
                            height: 32px;
                            text-align: left;

                            span {
                                background-color: #fff;
                            }
                        }
                    }

                    tbody {
                        tr td:first-child {
                            width: 3%;
                        }

                        tr td:nth-child(2) {
                            width: 9%;
                            text-align: right;

                            .project-link {
                                text-decoration: none;
                                color: $text-color;
                                background-color: #fff;
                            }
                        }

                        tr td:nth-child(3) {
                            width: 40%;
                        }

                        tr td:nth-child(4) {
                            width: 11%;
                        }

                        tr td:nth-child(5) {
                            width: 22%;
                        }

                        tr td:nth-child(6) {
                            width: 10%;
                        }

                        tr td:last-child {
                            width: 36px;
                        }

                        td {
                            font-weight: 700;
                            padding: 10px;
                            background-color: #fff;

                            .delete-icon {
                                margin: 0 auto;
                            }
                        }
                    }
                }

                .dt-paging {
                    float: right;
                    margin-top: 20px;

                    .dt-paging-button {
                        background-color: #fff;
                        border: 1px solid #d1d1d1;
                        padding: 6px 10px;
                        color: $primary-text-color;
                    }
                }
            }
        }
    }
}