// max-width
$max-width: 900px;

// font-size
$font-family: "Segoe UI";

// text-color
$text-color: #666;
$primary-text-color: #2F85FA;

// link color
$link-color: #2F85FA;

// border
$border-color: #d1d1d1;
$border-radius: 5px;