@import 'variables';
@import 'reset';
@import 'header';

//general
.delete-icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.container {
    width: 90%;
    margin: 0 auto;

    color: $text-color;

    .content {
        display: flex;

        .left-content {
            flex: 1;
            border-right: 1px solid $border-color;

            .title {
                font-size: 20px;
                font-weight: 600;
                color: $primary-text-color;
                margin-bottom: 40px;
                margin-top: 44px;
            }

            ul li:first-child .new-page {
                color: $primary-text-color;
                font-size: 20px;
            }

            ul {
                list-style-type: none;
                text-transform: capitalize;
                padding-left: 0;

                li {
                    line-height: 2;

                    a {
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
        }

        .right-content {
            flex: 7;
            margin-left: 50px;
            margin-top: 40px;

            .title {
                font-weight: 600;
                font-size: 18px;
                padding-bottom: 16px;
                margin-bottom: 24px;
                border-bottom: 1px solid $border-color;
            }
            .form-grid {
                display: grid;
                grid-template-columns: 1fr 2fr;
                align-items: center;
                row-gap: 38px;
                column-gap: 20px;
                padding-right: 22%;
                padding-top: 30px;
                padding-left: 5%;

                label {
                    text-align: left;
                    padding-right: 10px;
                    font-weight: 500;
                    font-family: $font-family;
                    font-size: 14px;
                }

                input,
                select {
                    padding: 5px;
                    height: 30px;
                    border-radius: $border-radius;
                    border: 1px solid $border-color;
                }

                select {
                    width: 220px;
                }

                .date-container {
                    input {
                        width: 200px;
                    }
                    label {
                        margin-left: 60px;
                        margin-right: 30px;
                    }
                    input[type=date]:required:invalid::-webkit-datetime-edit {
                        color: transparent;
                    }
                    input[type=date]:focus::-webkit-datetime-edit {
                        color: $text-color !important;
                    }
                }

                .date-container input:last-child {
                    float: right;
                }
            }

            .btn-container {
                width: 100%;
                margin-top: 5%;
                padding-right: 22%;

                .btn {
                    float: right;
                    line-height: 35px;
                    text-decoration: none;
                    display: block;
                    text-align: center;
                    font-weight: 600;
                    border-radius: $border-radius;
                    width: 220px;
                    font-size: 16px;
                }

                #cancel-btn {
                    border: 1px solid $border-color;
                    background-image: linear-gradient(#fff, #B9B9B9);
                    color: black;
                }

                #create-btn {
                    background-image: linear-gradient(rgb(91, 129, 255), rgb(41, 26, 252));
                    color: #fff;
                    margin-left: 6%;
                }
            }
        }
    }
}